{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}修改服务器{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
           <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-md-offset-1">
                    {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text-center">{{ Server.Sid }}修改成功</h2>
                    </div>
                    {% endif %}
                    <h2 class="text-center">{{ Server.Sid }}</h2>
                    <br>
                    <form method="POST" role="form" class="form-horizontal" action="/up_server/">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-center">修改服务器</h1>

                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">资产SN号：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_id" required name="Sid" value="{{ server.Sid }}" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">设备名称：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_name" required name="Sname" value="{{ server.Sname }}"  autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_author" class="col-md-3 control-label">设备状态：</label>
                        <div class="col-md-9">
                            <select class="form-control" required name="Sstatus" id="id_status">
                                <option>在线</option>
                                <option>闲置</option>
                                <option>报废</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_category" class="col-md-3 control-label">生产厂商：</label>
                        <div class="col-md-9">
                            <select class="form-control" required name="Sbrand" id="id_brand">
                                <option>Dell</option>
                                <option>IBM</option>
                                <option>HP</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">快速服务代码：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Escode" id="id_Escode" value="{{ server.Escode }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">管理部门：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Sposition" id="id_position" value="{{ server.Sposition }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">IP地址1：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Sip1" id="id_ip1" value="{{ server.Sip1 }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">IP地址2：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Sip2" id="id_ip2" value="{{ server.Sip2 }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pubdate" class="col-md-3 control-label">购买日期：</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" required name="Sbuy_time" id="id_buy_date" value="{{ server.Sbuy_time }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">价格：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Sprice" id="id_price" value="{{ server.Sprice }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pubdate" class="col-md-3 control-label">保修日期：</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" required name="Sexpire" id="id_expire" value="{{ server.Sexpire }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">所属IDC：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Sidc" id="id_sidc" value="{{ server.Sidc }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">机柜编号：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Spod" id="id_spod" value="{{ server.Spod }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">机柜位置：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Su" id="id_su" value="{{ server.Sues }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">配置信息：</label>
                        <div class="col-md-9">
                            <textarea class="form-control" required name="Sdetail" id="id_detail" cols="25" rows="7"  >{{ server.Sdetail }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">维护记录：</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="Sservices" id="id_services" cols="25" rows="7" >{{ server.Sservices }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}