{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}修改计算机{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
           <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-md-offset-1">
                    {% if state == 'success' %}
                    <div class="well">
                        <h2 class="text-success text-center">{{ computer.Did }}修改成功</h2>
                    </div>
                    {% endif %}
                    <h2 class="text-center">{{ computer.Did }}</h2>
                    <br>
                    <form method="POST" role="form" class="form-horizontal" action="/up_computer/">
                    {% csrf_token %}
                    <h1 class="form-signin-heading text-center">修改计算机</h1>

                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">资产编号：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_Did" required name="Did" value={{ computer.Did }} autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_name" class="col-md-3 control-label">设备名称：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_Dname" required name="Dname" value={{ computer.Dname }} autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_author" class="col-md-3 control-label">设备状态：</label>
                        <div class="col-md-9">
                            <select class="form-control" required name="Dstatus" id="id_status">
                                <option>在线</option>
                                <option>闲置</option>
                                <option>报废</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_category" class="col-md-3 control-label">生产厂商：</label>
                        <div class="col-md-9">
                            <select class="form-control" required name="Dbrand" id="a_brand">
                                <option selected="{{ computer.Dbrand }}">{{computer.Dbrand}}</option>
                                <option>Dell</option>
                                <option>IBM</option>
                                <option>组装机</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">借用人：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Duser" id="id_user" value={{ computer.Duser }} >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">部门：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Dposition" id="id_position" value={{ computer.Dposition }} >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">MAC地址：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" required name="Dmac" id="id_mac" value={{ computer.Dmac }}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pubdate" class="col-md-3 control-label">借用日期：</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="Dallot" id="id_allot" value={{ computer.Dallot }}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pubdate" class="col-md-3 control-label">购买日期：</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="Dbuy_time" id="id_buy_date" value={{ computer.Dbuy_time }}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">价格：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="Dprice" id="id_price" value={{ computer.Dprice }}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pubdate" class="col-md-3 control-label">保修日期：</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control" name="Dexpire" id="id_expire" value="{{ computer.Dexpire }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">配置信息：</label>
                        <div class="col-md-9">
                            <textarea class="form-control" required name="Ddetail" id="id_detail" cols="25" rows="7" >{{ computer.Ddetail }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_price" class="col-md-3 control-label">维护记录：</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="Dservices" id="id_services" cols="25" rows="7">{{ computer.Dservices }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn btn btn-primary btn-block" type="submit">提交</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}