{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}查看计算机{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
           <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">{{ server.Sid }}</h2>
                    <br>
                    <h3>资产SN号：{{ server.Sid }}</h3>
                    <h3>设备名称：{{ server.Sname }}</h3>
                    <h3>设备状态：{{ server.Sstatus }}</h3>
                    <h3>生产厂商：{{ server.Sbrand }}</h3>
                    <h3>快速服务代码：{{ server.Escode }}</h3>
                    <h3>管理部门：{{ server.Sposition }}</h3>
                    <h3>IP地址1：{{ server.Sip1 }}</h3>
                    <h3>IP地址2：{{ server.Sip2 }}</h3>
                    <h3>所属IDC：{{ server.Sidc }}</h3>
                    <h3>机柜编号：{{ server.Spod }}</h3>
                    <h3>机柜位置：{{ server.Sues }}</h3>
                    <h3>购买日期：{{ server.Sbuy_time|date:"Y-m-d" }}</h3>
                    <h3>采购价格：{{ server.Sprice|floatformat:2 }}</h3>
                    <h3>保修日期：{{ server.Sexpire|date:"Y-m-d" }}</h3>
                    <h3>详细配置：{{ server.Sdetail }}</h3>
                    <h3>维护记录：{{ server.Sservices }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}