{% extends "management/base.html" %}
{% load staticfiles %}
{% block title %}查看备件{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
           <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">{{ spart.Sid }}</h2>
                    <br>
                    <h3>资产编号：{{ spart.Sid }}</h3>
                    <h3>设备名称：{{ spart.Sname }}</h3>
                    <h3>生产厂商：{{ spart.Sbrand }}</h3>
                    <h3>购买日期：{{ spart.Sbuy_time|date:"Y-m-d" }}</h3>
                    <h3>采购价格：{{ spart.Sprice|floatformat:2 }}</h3>
                    <h3>保修日期：{{ spart.Sexpire|date:"Y-m-d" }}</h3>
                    <h3>详细配置：{{ spart.Sdetail }}</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}